{% extends "base.html" %}

{% block title %}Access Denied{% endblock title %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card my-card">
            <img class="card-img-top" src="{{restaurant.logo.url}}" alt="Hey Noob, look at me...">
          <div class="card-body">
            <h5 class="card-title">Access Denied</h5>
            <p class="card-text">Your delete shall not pass</p>
          </div>
            </li>
          </ul>
        </div>
    </div>
</div>
{% endblock content %}

